# IDE
.idea/

# Python
*.py[cod]
__pycache__/

# Venv
.venv/

# System
.DS_Store

# Pip
*.egg-info
dist/

# Testing
.pytest_cache/
.coverage
.vscode/settings.json
/generator.ipynb
docs/build/html/_static/
docs/build/
build/
.gitignore.orig
tests/tester.ipynb
tests/test.ipynb
