# IDE
.idea/

# Python
*.py[cod]
__pycache__/

# Venv
.venv/

# System
.DS_Store

# Pip
*.egg-info
dist/

# Testing
.pytest_cache/
.coverage
.vscode/settings.json
/generator.ipynb
docs/build/html/_static/
docs/build/
build/
.gitignore.orig
tests/tester.ipynb
tests/test.ipynb
bak/conftest.py
bak/test.ipynb
bak/test_augmentation.py
bak/test_preprocessing.py
bak/test_selection.py
bak/test_utils.py
bak/tester.ipynb
examples/FOOD_CHEM/Beer_OriginalExtract_60_Norgaard/Xcal.csv
examples/FOOD_CHEM/Beer_OriginalExtract_60_Norgaard/Xval.csv
examples/FOOD_CHEM/Beer_OriginalExtract_60_Norgaard/Ycal.csv
examples/FOOD_CHEM/Beer_OriginalExtract_60_Norgaard/Yval.csv
examples/FOOD_CHEM/Beer_OriginalExtract_60_Wang/Xcal.csv
examples/FOOD_CHEM/Beer_OriginalExtract_60_Wang/Xval.csv
examples/FOOD_CHEM/Beer_OriginalExtract_60_Wang/Ycal.csv
examples/FOOD_CHEM/Beer_OriginalExtract_60_Wang/Yval.csv
examples/FOOD_CHEM/Biscuit_Fat_40_Marx/Xcal.csv
examples/FOOD_CHEM/Biscuit_Fat_40_Marx/Xval.csv
examples/FOOD_CHEM/Biscuit_Fat_40_Marx/Ycal.csv
examples/FOOD_CHEM/Biscuit_Fat_40_Marx/Yval.csv
examples/FOOD_CHEM/Biscuit_Flour_40_Marx/Xcal.csv
examples/FOOD_CHEM/Biscuit_Flour_40_Marx/Xval.csv
examples/FOOD_CHEM/Biscuit_Flour_40_Marx/Ycal.csv
examples/FOOD_CHEM/Biscuit_Flour_40_Marx/Yval.csv
examples/FOOD_CHEM/Biscuit_Sucrose_40_Marx/Xcal.csv
examples/FOOD_CHEM/Biscuit_Sucrose_40_Marx/Xval.csv
examples/FOOD_CHEM/Biscuit_Sucrose_40_Marx/Ycal.csv
examples/FOOD_CHEM/Biscuit_Sucrose_40_Marx/Yval.csv
examples/FOOD_CHEM/Biscuit_Water_40_Marx/Xcal.csv
examples/FOOD_CHEM/Biscuit_Water_40_Marx/Xval.csv
examples/FOOD_CHEM/Biscuit_Water_40_Marx/Ycal.csv
examples/FOOD_CHEM/Biscuit_Water_40_Marx/Yval.csv
examples/FOOD_CHEM/Cassava_DM_3357_Sanchez10p/Xcal.csv
examples/FOOD_CHEM/Cassava_DM_3357_Sanchez10p/Xval.csv
examples/FOOD_CHEM/Cassava_DM_3357_Sanchez10p/Ycal.csv
examples/FOOD_CHEM/Cassava_DM_3357_Sanchez10p/Yval.csv
examples/FOOD_CHEM/Cassava_DM_3357_Sanchez2012/Xcal.csv
examples/FOOD_CHEM/Cassava_DM_3357_Sanchez2012/Xval.csv
examples/FOOD_CHEM/Cassava_DM_3357_Sanchez2012/Ycal.csv
examples/FOOD_CHEM/Cassava_DM_3357_Sanchez2012/Yval.csv
examples/FOOD_CHEM/Cassava_DM_5115_Davrieux2013/Xcal.csv
examples/FOOD_CHEM/Cassava_DM_5115_Davrieux2013/Xval.csv
examples/FOOD_CHEM/Cassava_DM_5115_Davrieux2013/Ycal.csv
examples/FOOD_CHEM/Cassava_DM_5115_Davrieux2013/Yval.csv
examples/FOOD_CHEM/Cassava_DM_5578_Davrieux2014/Xcal.csv
examples/FOOD_CHEM/Cassava_DM_5578_Davrieux2014/Xval.csv
examples/FOOD_CHEM/Cassava_DM_5578_Davrieux2014/Ycal.csv
examples/FOOD_CHEM/Cassava_DM_5578_Davrieux2014/Yval.csv
examples/FOOD_CHEM/Cassava_TBC_3093_Sanchez10p/Xcal.csv
examples/FOOD_CHEM/Cassava_TBC_3093_Sanchez10p/Xval.csv
examples/FOOD_CHEM/Cassava_TBC_3093_Sanchez10p/Ycal.csv
examples/FOOD_CHEM/Cassava_TBC_3093_Sanchez10p/Yval.csv
examples/FOOD_CHEM/Cassava_TBC_3093_Sanchez2012/Xcal.csv
examples/FOOD_CHEM/Cassava_TBC_3093_Sanchez2012/Xval.csv
examples/FOOD_CHEM/Cassava_TBC_3093_Sanchez2012/Ycal.csv
examples/FOOD_CHEM/Cassava_TBC_3093_Sanchez2012/Yval.csv
examples/FOOD_CHEM/Cassava_TBC_3825_Davrieux2013/Xcal.csv
examples/FOOD_CHEM/Cassava_TBC_3825_Davrieux2013/Xval.csv
examples/FOOD_CHEM/Cassava_TBC_3825_Davrieux2013/Ycal.csv
examples/FOOD_CHEM/Cassava_TBC_3825_Davrieux2013/Yval.csv
examples/FOOD_CHEM/Cassava_TBC_4288_Davrieux2014/Xcal.csv
examples/FOOD_CHEM/Cassava_TBC_4288_Davrieux2014/Xval.csv
examples/FOOD_CHEM/Cassava_TBC_4288_Davrieux2014/Ycal.csv
examples/FOOD_CHEM/Cassava_TBC_4288_Davrieux2014/Yval.csv
examples/FOOD_CHEM/Cassava_TCC_3368_Sanchez10p/Xcal.csv
examples/FOOD_CHEM/Cassava_TCC_3368_Sanchez10p/Xval.csv
examples/FOOD_CHEM/Cassava_TCC_3368_Sanchez10p/Ycal.csv
examples/FOOD_CHEM/Cassava_TCC_3368_Sanchez10p/Yval.csv
examples/FOOD_CHEM/Cassava_TCC_3368_Sanchez2012/Xcal.csv
examples/FOOD_CHEM/Cassava_TCC_3368_Sanchez2012/Xval.csv
examples/FOOD_CHEM/Cassava_TCC_3368_Sanchez2012/Ycal.csv
examples/FOOD_CHEM/Cassava_TCC_3368_Sanchez2012/Yval.csv
examples/FOOD_CHEM/Cassava_TCC_4468_Davrieux2013/Xcal.csv
examples/FOOD_CHEM/Cassava_TCC_4468_Davrieux2013/Xval.csv
examples/FOOD_CHEM/Cassava_TCC_4468_Davrieux2013/Ycal.csv
examples/FOOD_CHEM/Cassava_TCC_4468_Davrieux2013/Yval.csv
examples/FOOD_CHEM/Cassava_TCC_4930_Davrieux2014/Xcal.csv
examples/FOOD_CHEM/Cassava_TCC_4930_Davrieux2014/Xval.csv
examples/FOOD_CHEM/Cassava_TCC_4930_Davrieux2014/Ycal.csv
examples/FOOD_CHEM/Cassava_TCC_4930_Davrieux2014/Yval.csv
examples/FOOD_CHEM/Corn_Moisture_80_Wang/Xcal.csv
examples/FOOD_CHEM/Corn_Moisture_80_Wang/Xval.csv
examples/FOOD_CHEM/Corn_Moisture_80_Wang/Ycal.csv
examples/FOOD_CHEM/Corn_Moisture_80_Wang/Yval.csv
examples/FOOD_CHEM/Corn_Moisture_80_Zheng/Xcal.csv
examples/FOOD_CHEM/Corn_Moisture_80_Zheng/Xval.csv
examples/FOOD_CHEM/Corn_Moisture_80_Zheng/Ycal.csv
examples/FOOD_CHEM/Corn_Moisture_80_Zheng/Yval.csv
examples/FOOD_CHEM/Corn_Oil_80_Zheng/Xcal.csv
examples/FOOD_CHEM/Corn_Oil_80_Zheng/Xval.csv
examples/FOOD_CHEM/Corn_Oil_80_Zheng/Ycal.csv
examples/FOOD_CHEM/Corn_Oil_80_Zheng/Yval.csv
examples/FOOD_CHEM/Corn_Protein_80_Zheng/Xcal.csv
examples/FOOD_CHEM/Corn_Protein_80_Zheng/Xval.csv
examples/FOOD_CHEM/Corn_Protein_80_Zheng/Ycal.csv
examples/FOOD_CHEM/Corn_Protein_80_Zheng/Yval.csv
examples/FOOD_CHEM/Corn_Starch_80_Zheng/Xcal.csv
examples/FOOD_CHEM/Corn_Starch_80_Zheng/Xval.csv
examples/FOOD_CHEM/Corn_Starch_80_Zheng/Ycal.csv
examples/FOOD_CHEM/Corn_Starch_80_Zheng/Yval.csv
examples/FOOD_CHEM/Rice_Amylose_313_Sampaio/Xcal.csv
examples/FOOD_CHEM/Rice_Amylose_313_Sampaio/Xval.csv
examples/FOOD_CHEM/Rice_Amylose_313_Sampaio/Ycal.csv
examples/FOOD_CHEM/Rice_Amylose_313_Sampaio/Yval.csv
examples/FOOD_CHEM/Wheat_Proteine_100_Kalivas1/Xcal.csv
examples/FOOD_CHEM/Wheat_Proteine_100_Kalivas1/Xval1.csv
examples/FOOD_CHEM/Wheat_Proteine_100_Kalivas1/Ycal.csv
examples/FOOD_CHEM/Wheat_Proteine_100_Kalivas1/Yval1.csv
examples/FOOD_CHEM/Wheat_Proteine_100_Marx/Xcal.csv
examples/FOOD_CHEM/Wheat_Proteine_100_Marx/Xval.csv
examples/FOOD_CHEM/Wheat_Proteine_100_Marx/Ycal.csv
examples/FOOD_CHEM/Wheat_Proteine_100_Marx/Yval.csv
examples/FOOD_CHEM/Wheat_Proteine_100_Wang/Xcal.csv
examples/FOOD_CHEM/Wheat_Proteine_100_Wang/Xval.csv
examples/FOOD_CHEM/Wheat_Proteine_100_Wang/Ycal.csv
examples/FOOD_CHEM/Wheat_Proteine_100_Wang/Yval.csv
examples/FOOD_CHEM_lost/Meat_Fat_215_Borgaard/Xcal.csv
examples/FOOD_CHEM_lost/Meat_Fat_215_Borgaard/Xval.csv
examples/FOOD_CHEM_lost/Meat_Fat_215_Borgaard/Ycal.csv
examples/FOOD_CHEM_lost/Meat_Fat_215_Borgaard/Yval.csv
examples/FOOD_CHEM_lost/Meat_Fat_215_Borgaard_E1/Xcal.csv
examples/FOOD_CHEM_lost/Meat_Fat_215_Borgaard_E1/Xval.csv
examples/FOOD_CHEM_lost/Meat_Fat_215_Borgaard_E1/Ycal.csv
examples/FOOD_CHEM_lost/Meat_Fat_215_Borgaard_E1/Yval.csv
examples/FOOD_CHEM_lost/Meat_Fat_215_Borgaard_E2/Xcal.csv
examples/FOOD_CHEM_lost/Meat_Fat_215_Borgaard_E2/Xval.csv
examples/FOOD_CHEM_lost/Meat_Fat_215_Borgaard_E2/Ycal.csv
examples/FOOD_CHEM_lost/Meat_Fat_215_Borgaard_E2/Yval.csv
examples/FOOD_CHEM_lost/Meat_Fat_215_Borgaard_Test/Xcal.csv
examples/FOOD_CHEM_lost/Meat_Fat_215_Borgaard_Test/Xval.csv
examples/FOOD_CHEM_lost/Meat_Fat_215_Borgaard_Test/Ycal.csv
examples/FOOD_CHEM_lost/Meat_Fat_215_Borgaard_Test/Yval.csv
examples/FOOD_CHEM_lost/Meat_Fat_215_Chen/X_leave30out_100times.csv
examples/FOOD_CHEM_lost/Meat_Fat_215_Chen/Y_leave30out_100times.csv
examples/FOOD_CHEM_lost/Meat_Fat_215_Ferraty/X_CV2folds_repeat100times.csv
examples/FOOD_CHEM_lost/Meat_Fat_215_Ferraty/X_leave30out_100times.csv
examples/FOOD_CHEM_lost/Meat_Fat_215_Ferraty/Y_CV2folds_repeat100times.csv
examples/FOOD_CHEM_lost/Meat_Fat_215_Ferraty/Y_leave30out_100times.csv
examples/FOOD_CHEM_lost/Milk_Fat/Xcal.csv
examples/FOOD_CHEM_lost/Milk_Fat/Xval.csv
examples/FOOD_CHEM_lost/Milk_Fat/Ycal.csv
examples/FOOD_CHEM_lost/Milk_Fat/Yval.csv
examples/FOOD_CHEM_lost/Milk_Lact/Xcal.csv
examples/FOOD_CHEM_lost/Milk_Lact/Xval.csv
examples/FOOD_CHEM_lost/Milk_Lact/Ycal.csv
examples/FOOD_CHEM_lost/Milk_Lact/Yval.csv
examples/FOOD_CHEM_lost/Milk_Prot/Xcal.csv
examples/FOOD_CHEM_lost/Milk_Prot/Xval.csv
examples/FOOD_CHEM_lost/Milk_Prot/Ycal_Prot.csv
examples/FOOD_CHEM_lost/Milk_Prot/Yval_Prot.csv
examples/FOOD_CHEM_lost/Milk_SCC/Xcal.csv
examples/FOOD_CHEM_lost/Milk_SCC/Xval.csv
examples/FOOD_CHEM_lost/Milk_SCC/Ycal_SCC.csv
examples/FOOD_CHEM_lost/Milk_SCC/Yval_SCC.csv
examples/FOOD_CHEM_lost/Milk_Urea/Xcal.csv
examples/FOOD_CHEM_lost/Milk_Urea/Xval.csv
examples/FOOD_CHEM_lost/Milk_Urea/Ycal_Urea.csv
examples/FOOD_CHEM_lost/Milk_Urea/Yval_Urea.csv
examples/FOOD_CHEM_lost/Milk_yield/Xcal.csv
examples/FOOD_CHEM_lost/Milk_yield/Xval.csv
examples/FOOD_CHEM_lost/Milk_yield/Ycal_Milk_yield.csv
examples/FOOD_CHEM_lost/Milk_yield/Yval_Milk_yield.csv
examples/FOOD_CHEM_lost/Wheat_Proteine_100_Kalivas2/Xcal.csv
examples/FOOD_CHEM_lost/Wheat_Proteine_100_Kalivas2/Xval2.csv
examples/FOOD_CHEM_lost/Wheat_Proteine_100_Kalivas2/Ycal.csv
examples/FOOD_CHEM_lost/Wheat_Proteine_100_Kalivas2/Yval2.csv
examples/example.csv
examples/example1.csv
